In [133]:
import pandas as pd
import pickle
import numpy as np
import itertools

In [198]:
df_parts = pd.read_csv('data/parts.csv')
df_parts_categories = pd.read_csv('data/part_categories.csv')
df_inventories = pd.read_csv('data/inventories.csv')
df_inventories_parts = pd.read_csv('data/inventory_parts.csv')
df_sets = pd.read_csv('data/sets.csv')

In [204]:
df_PARTS = pd.merge(df_parts,df_parts_categories,left_on='part_cat_id',right_on='id',how='left',suffixes=['_part','_cat'])

In [205]:
df_PARTS.head()

,part_num,name_part,part_cat_id,id,name_cat
0,0687b1,Set 0687 Activity Booklet 1,17,17,Non-LEGO
1,0901,Baseplate 16 x 30 with Set 080 Yellow House Print,1,1,Baseplates
2,0902,Baseplate 16 x 24 with Set 080 Small White Hou...,1,1,Baseplates
3,0903,Baseplate 16 x 24 with Set 080 Red House Print,1,1,Baseplates
4,0904,Baseplate 16 x 24 with Set 080 Large White Hou...,1,1,Baseplates

In [216]:
df_SETS = pd.merge(df_inventories_parts,df_inventories,left_on='inventory_id',right_on='id',how='left')
df_SETS = pd.merge(df_SETS,df_sets,on='set_num',how='left')
df_SETS = pd.merge(df_SETS,df_PARTS[['part_num','name_part','name_cat']],on='part_num',how='left')
df_SETS.head()

,inventory_id,part_num,color_id,quantity,is_spare,id,version,set_num,name,year,theme_id,num_parts,name_part,name_cat
0,1,48379c01,72,1,f,1,1,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,2004,460,4,Sports Promo Figure Base with Feet,Minifig Accessories
1,1,48395,7,1,f,1,1,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,2004,460,4,Sports Promo Snowboard from McDonald's Sports ...,Minifig Accessories
2,1,mcsport6,25,1,f,1,1,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,2004,460,4,Sports Promo Figure Head Torso Assembly McDona...,Minifigs
3,1,paddle,0,1,f,1,1,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,2004,460,4,Sports Promo Paddle from McDonald's Sports Sets,Minifig Accessories
4,3,11816pr0005,78,1,f,3,1,3931-1,Emma's Splash Pool,2012,494,43,"Minifig Head Modified - Friends - Green Eyes, ...",Minifigs

### Drop the figurines from castle

In [301]:
df_6075_2_BOM = df_SETS[df_SETS.set_num=='6075-2']
df_6075_2_BOM.groupby('name_cat').count()
print df_6075_2_BOM.name_cat.unique()
CATEGORIES_TO_EXCLUDE = ['Flags, Signs, Plastics and Cloth','Minifigs','Minifig Accessories']

['Bricks' 'Plates' 'Bricks Sloped' 'Bricks Round and Cones' 'Tiles'
 'Windows and Doors' 'Plates Special' 'Bars, Ladders and Fences'
 'Bricks Curved' 'Bricks Special' 'Flags, Signs, Plastics and Cloth'
 'Minifigs' 'Technic Pins' 'Technic Bricks' 'Hinges, Arms and Turntables'
 'Minifig Accessories' 'Baseplates' 'String, Bands and Reels']

## Aggregate all colors quantities

In [303]:
df_6075_2_BOM = df_SETS[df_SETS.set_num=='6075-2']
df_6075_2_BOM = df_6075_2_BOM[~df_6075_2_BOM.name_cat.isin(CATEGORIES_TO_EXCLUDE)]
df_6075_2_BOM = df_6075_2_BOM.groupby(['part_num'])[['quantity']].sum().reset_index()
df_6075_2_BOM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 2 columns):
part_num    45 non-null object
quantity    45 non-null int64
dtypes: int64(1), object(1)
memory usage: 792.0+ bytes

In [304]:
df_SETS_BOM= df_SETS.groupby(['set_num','part_num','name'])[['quantity']].sum()

In [305]:
df_SETS_BOM.reset_index(inplace=True)

In [306]:
len(df_SETS_BOM.set_num.unique())

10713

In [384]:
df_BOMs = pd.DataFrame()
i=0
for name,group in df_SETS_BOM.groupby('set_num'):
    df = pd.merge(df_6075_2_BOM,group, on='part_num', how='inner',suffixes=['_6075_2','_sets'])
    
    df['Set']=name
    df_BOMs = pd.concat([df_BOMs,df],axis=0)
    i+=1
    if i%1000==0:
        print i

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000

In [308]:
df_BOMs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69308 entries, 0 to 1
Data columns (total 4 columns):
quantity_6075_2    69308 non-null int64
set_num            69308 non-null object
quantity_sets      69308 non-null int64
Set                69308 non-null object
dtypes: int64(2), object(2)
memory usage: 2.6+ MB

In [309]:
df_BOMs.head()

   quantity_6075_2 set_num  quantity_sets   Set
0               12    00-1             22  00-1
1               16    00-1             12  00-1
2              195    00-1            115  00-1
3               73    00-1             57  00-1
4               15    00-1             18  00-1

In [387]:
df_BOMs['Filled_Quantity']=df_BOMs.quantity_6075_2-df_BOMs.quantity_sets
df_BOMs.Filled_Quantity = np.where(df_BOMs.Filled_Quantity<0,df_BOMs.quantity_6075_2,df_BOMs.quantity_sets)

In [311]:
df_BOMs.head()

   quantity_6075_2 set_num  quantity_sets   Set  Filled_Quantity
0               12    00-1             22  00-1               12
1               16    00-1             12  00-1               12
2              195    00-1            115  00-1              115
3               73    00-1             57  00-1               57
4               15    00-1             18  00-1               15

In [313]:
df_BOMs_grouped = df_BOMs.groupby('set_num')[['Filled_Quantity']].sum()

df_BOMs_grouped.sort_values(by='Filled_Quantity',ascending=False)
df_BOMs_grouped.reset_index(inplace=True)
print df_BOMs_grouped.shape
print len(df_BOMs_grouped.set_num.unique())
df_BOMs_grouped = pd.merge(df_BOMs_grouped,df_catalog[['set_num','year','name']].drop_duplicates(), left_on='set_num',right_on='set_num', how='left')

df_BOMs_grouped[df_BOMs_grouped.year>2006].sort_values(by='Filled_Quantity',ascending=False).head(10)

(7370, 2)
7370

      set_num  Filled_Quantity  year                    name
127   10188-1              597  2008              Death Star
5599  75159-1              564  2016              Death Star
5666  75827-1              556  2016  Firehouse Headquarters
155   10224-1              527  2012               Town Hall
206   10654-1              516  2016   XL Creative Brick Box
215   10664-1              516  2013          Creative Tower
246   10697-1              511  2015                XXXL Box
3565   5512-1              486  2010            LEGO XXL Box
3608   5589-1              486  2009               Giant Box
128   10189-1              485  2008               Taj Mahal

In [316]:
TOP_SETS = df_BOMs_grouped[df_BOMs_grouped.year>2006].nlargest(20,'Filled_Quantity')

In [317]:
TOP_SETS.head()

      set_num  Filled_Quantity  year                    name
127   10188-1              597  2008              Death Star
5599  75159-1              564  2016              Death Star
5666  75827-1              556  2016  Firehouse Headquarters
155   10224-1              527  2012               Town Hall
206   10654-1              516  2016   XL Creative Brick Box

In [356]:
TOP_SETS = ['10654-1']

### Select on set and compute missing parts

### Create a list of all possible 3 combinations

In [357]:
ALL_SETS_RECENTS = (df_catalog[df_catalog.year>2008]).set_num.unique()
len(ALL_SETS_RECENTS)

4337

In [359]:
ALL_SETS_NO_TOPS = list(set(ALL_SETS_RECENTS)-set(TOP_SETS))

In [361]:
COMBI_SETS = list(itertools.product(TOP_SETS,ALL_SETS_NO_TOPS ))
print len(COMBI_SETS)

4336

In [362]:
print len(COMBI_SETS)
print COMBI_SETS[0]

4336
('10654-1', '30201-1')

In [363]:
def combine_sets(df_SETS_BOM,sets_list):
    df = df_SETS_BOM[df_SETS_BOM.set_num.isin(sets_list)] 
    df = df.groupby('part_num')[['quantity']].sum()
    return df.reset_index()

In [364]:
TOTAL_CASTLE_PARTS = df_6075_2_BOM.quantity.sum()
print TOTAL_CASTLE_PARTS

676

In [365]:
def compute_combination_fullfillment_score(df_6075_2_BOM,df_set):
    df = pd.merge(df_6075_2_BOM,df_set, on='part_num',how='left',suffixes=['_6075_2','_sets'])
    df['Filled_Quantity']=df.quantity_6075_2-df.quantity_sets
    df.Filled_Quantity = np.where(df.Filled_Quantity<=0,df.quantity_6075_2,df.quantity_sets)
    df = df.fillna(0)
    
    return df.Filled_Quantity.sum()

In [366]:
from multiprocessing import Manager, Pool

manager = Manager()
shared_list = manager.list()

def do_stuff(x):
    global shared_list
    sets_num = [set_num for set_num in x]
    df_set = combine_sets(df_catalog_BOM,sets_num)
    score = compute_combination_fullfillment_score(df_6075_2_BOM,df_set)
    shared_list.append((sets_num,score))
    if len(shared_list)%1000==0:
        print len(shared_list)
    
pool = Pool(processes=10)
pool.map(do_stuff, COMBI_SETS)
pool.close()

3000
4000
4000

In [371]:
df_scores = pd.DataFrame([x for x in shared_list],columns=['sets','fullfilled_parts'])
df_sets = df_scores['sets'].apply(pd.Series)
df_sets.columns = ['set1', 'set2']
df_scores = pd.concat([df_scores,df_sets],axis=1)
#df_scores.drop(['sets'],axis=1,inplace=True)

In [374]:
df_scores.sort_values(by='fullfilled_parts',ascending=False)

                       sets  fullfilled_parts     set1        set2
594      [10654-1, 10255-1]             607.0  10654-1     10255-1
1135     [10654-1, 75159-1]             607.0  10654-1     75159-1
2636     [10654-1, 79014-1]             606.0  10654-1     79014-1
3162     [10654-1, 10214-1]             604.0  10654-1     10214-1
277      [10654-1, 10237-1]             603.0  10654-1     10237-1
2555     [10654-1, 10223-1]             599.0  10654-1     10223-1
2757     [10654-1, 75827-1]             598.0  10654-1     75827-1
2288      [10654-1, 9474-1]             596.0  10654-1      9474-1
812      [10654-1, 70810-1]             596.0  10654-1     70810-1
3678     [10654-1, 10217-1]             595.0  10654-1     10217-1
1201     [10654-1, 10196-1]             595.0  10654-1     10196-1
2286     [10654-1, 41078-1]             594.0  10654-1     41078-1
3731     [10654-1, 10211-1]             594.0  10654-1     10211-1
1980     [10654-1, 10193-1]             594.0  10654-1     10193-1
3906     [10654-1, 60125-1]             593.0  10654-1     60125-1
2488      [10654-1, 7946-1]             593.0  10654-1      7946-1
3139     [10654-1, 10228-1]             592.0  10654-1     10228-1
3774     [10654-1, 75826-1]             591.0  10654-1     75826-1
3791     [10654-1, 71040-1]             590.0  10654-1     71040-1
1688      [10654-1, 7097-1]             590.0  10654-1      7097-1
2127     [10654-1, 10197-1]             590.0  10654-1     10197-1
4327      [10654-1, 5891-1]             590.0  10654-1      5891-1
2010     [10654-1, 10251-1]             589.0  10654-1     10251-1
2728      [10654-1, 9337-1]             589.0  10654-1      9337-1
2553      [10654-1, 4842-1]             589.0  10654-1      4842-1
3547      [10654-1, 9697-1]             588.0  10654-1      9697-1
449      [10654-1, 10210-1]             588.0  10654-1     10210-1
1962     [10654-1, 10218-1]             587.0  10654-1     10218-1
549      [10654-1, 79007-1]             587.0  10654-1     79007-1
3596     [10654-1, 10224-1]             587.0  10654-1     10224-1
...                     ...               ...      ...         ...
972       [10654-1, 8980-1]             516.0  10654-1      8980-1
1618      [10654-1, 6299-2]             516.0  10654-1      6299-2
390     [10654-1, 71001-15]             516.0  10654-1    71001-15
3307    [10654-1, 561501-1]             516.0  10654-1    561501-1
3306     [10654-1, 70744-1]             516.0  10654-1     70744-1
3305   [10654-1, 5002126-1]             516.0  10654-1   5002126-1
2589     [10654-1, 10660-1]             516.0  10654-1     10660-1
2587      [10654-1, 6134-1]             516.0  10654-1      6134-1
1597      [10654-1, 8869-1]             516.0  10654-1      8869-1
382       [10654-1, 8984-1]             516.0  10654-1      8984-1
373      [10654-1, 10699-1]             516.0  10654-1     10699-1
3348     [10654-1, 10525-1]             516.0  10654-1     10525-1
3347     [10654-1, 21003-1]             516.0  10654-1     21003-1
3346     [10654-1, 71309-1]             516.0  10654-1     71309-1
3345     [10654-1, 71001-3]             516.0  10654-1     71001-3
851      [10654-1, 71004-6]             516.0  10654-1     71004-6
3343      [10654-1, 9669-1]             516.0  10654-1      9669-1
3342  [10654-1, TRUXWING-1]             516.0  10654-1  TRUXWING-1
3341      [10654-1, 5946-1]             516.0  10654-1      5946-1
3340      [10654-1, 7137-1]             516.0  10654-1      7137-1
853     [10654-1, 41040-13]             516.0  10654-1    41040-13
654    [10654-1, 5004798-1]             516.0  10654-1   5004798-1
3337     [10654-1, 10287-1]             516.0  10654-1     10287-1
1600    [10654-1, 71017-18]             516.0  10654-1    71017-18
380      [10654-1, 10508-1]             516.0  10654-1     10508-1
1605     [10654-1, 8805-11]             516.0  10654-1     8805-11
3331      [10654-1, 4899-1]             516.0  10654-1      4899-1
1606     [10654-1, 70783-1]             516.0  10654-1     70783-1
1952    [10654-1, 71002-13]             516.0  10654-1    71002-13
3241     [10654-1, 70792-1]             516.0  10654-1     70792-1

[4336 rows x 4 columns]

In [414]:
df_sets = combine_sets(df_SETS_BOM,['10654-1','31044-1'])
df_matching = pd.merge(df_6075_2_BOM,df_sets,on='part_num',how='left',suffixes=['_6075_2','_10654_1'])
df_matching = pd.merge(df_matching,df_PARTS,on='part_num')
df_matching.quantity_10654_1.fillna(0,inplace=True)
df_matching['Missing_parts']=np.where((df_matching.quantity_6075_2-df_matching.quantity_10654_1)>0,df_matching.quantity_6075_2-df_matching.quantity_10654_1,0)
df_matching.sort_values(by='Missing_parts')

,part_num,quantity_6075_2,quantity_10654_1,name_part,part_cat_id,id,name_cat,Missing_parts
10,3023,13,29.0,Plate 1 x 2,14,14,Plates,0.0
15,3039,12,44.0,Slope 45° 2 x 2,3,3,Bricks Sloped,0.0
37,3710,4,10.0,Plate 1 x 4,14,14,Plates,0.0
13,3034,2,10.0,Plate 2 x 8,14,14,Plates,0.0
12,3032,8,8.0,Plate 4 x 6,14,14,Plates,0.0
11,3024,8,17.0,Plate 1 x 1,14,14,Plates,0.0
27,3623,8,9.0,Plate 1 x 3,14,14,Plates,0.0
9,3022,18,28.0,Plate 2 x 2,14,14,Plates,0.0
8,3021,6,9.0,Plate 2 x 3,14,14,Plates,0.0
38,3795,8,10.0,Plate 2 x 6,14,14,Plates,0.0
6,3010,30,52.0,Brick 1 x 4,11,11,Bricks,0.0
5,3009,29,32.0,Brick 1 x 6,11,11,Bricks,0.0
4,3008,15,18.0,Brick 1 x 8,11,11,Bricks,0.0
3,3005,73,180.0,Brick 1 x 1,11,11,Bricks,0.0
2,3004,195,323.0,Brick 1 x 2,11,11,Bricks,0.0
1,3003,16,266.0,Brick 2 x 2,11,11,Bricks,0.0
16,3040b,2,36.0,Slope 45° 2 x 1 with Bottom Pin,3,3,Bricks Sloped,0.0
31,3660,20,28.0,"Slope Inverted 45° 2 x 2 [Ovoid Bottom Pin, Ba...",3,3,Bricks Sloped,0.0
44,73037,1,0.0,String Reel Winch 2 x 4 x 2 (Light Gray Drum),31,31,"String, Bands and Reels",1.0
41,3857,1,0.0,Baseplate 16 x 32,1,1,Baseplates,1.0
43,56823c50,1,0.0,String Cord Thin 50cm,31,31,"String, Bands and Reels",1.0
20,3176,2,1.0,Plate Special 3 x 2 with Hole,9,9,Plates Special,1.0
14,3036,1,0.0,Plate 6 x 8,14,14,Plates,1.0
24,3460,2,0.0,Plate 1 x 8,14,14,Plates,2.0
25,3581,2,0.0,Brick Special 1 x 1 x 2 with Shutter Holder,5,5,Bricks Special,2.0
28,3633,2,0.0,Fence 1 x 4 x 1,32,32,"Bars, Ladders and Fences",2.0
29,3644,2,0.0,Door 1 x 4 x 6,16,16,Windows and Doors,2.0
21,3185,2,0.0,Fence 1 x 4 x 2,32,32,"Bars, Ladders and Fences",2.0
33,3673,2,0.0,Technic Pin without Friction Ridges Lengthwise,53,53,Technic Pins,2.0
7,3020,14,11.0,Plate 2 x 4,14,14,Plates,3.0
30,3659,3,0.0,Brick Arch 1 x 4,37,37,Bricks Curved,3.0
42,3865,4,0.0,Baseplate 8 x 16,1,1,Baseplates,4.0
34,3684,6,2.0,Slope 75° 2 x 2 x 3 [Hollow Studs],3,3,Bricks Sloped,4.0
35,3685,4,0.0,Slope 75° 2 x 2 x 3 Double Convex,3,3,Bricks Sloped,4.0
18,3069b,7,2.0,Tile 1 x 2 with Groove,19,19,Tiles,5.0
36,3700,5,0.0,Technic Brick 1 x 2 [1 Hole],8,8,Technic Bricks,5.0
39,3830,8,2.0,Hinge Brick 1 x 4 [Upper],18,18,"Hinges, Arms and Turntables",6.0
19,3087c,6,0.0,"Window 1 x 1 x 1 Classic with Short Sill, No G...",16,16,Windows and Doors,6.0
23,3308,6,0.0,Brick Arch 1 x 8 x 2,37,37,Bricks Curved,6.0
17,3062a,6,0.0,Brick Round 1 x 1 Solid Stud,20,20,Bricks Round and Cones,6.0
40,3831,8,2.0,Hinge Brick 1 x 4 [Lower],18,18,"Hinges, Arms and Turntables",6.0
22,3307,8,0.0,Brick Arch 1 x 6 x 2 - Thick Top with Reinforc...,37,37,Bricks Curved,8.0
0,3002a,12,0.0,Brick 2 x 3 without Cross Supports,11,11,Bricks,12.0
26,3622,62,48.0,Brick 1 x 3,11,11,Bricks,14.0
32,3665,32,13.0,Slope Inverted 45° 2 x 1,3,3,Bricks Sloped,19.0